*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 0.6rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
#new-btn{
    padding: 0.6rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    
}
.hide{
    display: none;
}